<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="db" connectionString="Server=localhost;Port=8889;uid=root;password=root;Database=CrimeCluster;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<appSettings>
		<add key="CultureInfo" value="en-GB" />
		<add key="KMeansClusterNumber" value="3" />
		<add key="DJClusterRadiusEps" value="0.005" />
		<add key="DJClusterMinPts" value="50" />

		<add key="StartCrimeSamplingDate" value="01/12/2010" />
		<add key="EndCrimeSamplingDate" value="01/12/2010" />
	</appSettings>
</configuration>